@use "../../sass/abstracts/colors";
@import "../../sass/abstracts/mixins";
@import "../../sass/base/typography";

.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .info {
    p {
      @include text-small;
      color: colors.$label;
    }

    a {
      @include link-small-underline;
      display: initial;
    }
  }

  .share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    .social {
      width: 4rem;
      @include button-primary;
    }

    @include device(tablet) {
      .social {
        width: 3rem;
      }
    }

    @include device(mobile) {
      .social {
        width: 2rem;
      }
    }
  }

  @include device(mobile) {
    gap: 3rem;
  }
}
