@use "../../../sass/abstracts/colors";
@import "../../../sass/base/typography";
@import "../../../sass/abstracts/mixins";

.work {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    @include title-h2;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 3rem;
  }

  a {
    @include link-small;
  }
}

.post {
  @include card-post;

  .footer {
    a {
      @include link-small-underline;
    }
  }
}

.gear {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;

  .thumbnail {
    width: 100%;
    height: 25rem;
    position: relative;
  }

  .details {
    h2 {
      @include title-h2;
    }
  }
}
