@mixin title-h1 {
  font-size: 3.2rem;
  line-height: 3.4rem;
  letter-spacing: 0.1rem;
}

@mixin title-h2 {
  font-size: 2.4rem;
  line-height: 3.8rem;
  letter-spacing: 0.075rem;
}

@mixin title-h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.075rem;
}

@mixin link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@mixin link-small {
  @include link;
  font-size: 1.4rem;
  text-decoration: underline transparent;

  &:hover {
    text-decoration: underline;
    transition: all 0.2s;
  }
}

@mixin link-small-underline {
  @include link-small();
  text-decoration: underline;
}

@mixin link-xsmall {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 0.025rem;
}

@mixin nav-item {
  cursor: pointer;

  a {
    color: colors.$off_white;
    text-decoration: underline transparent;

    &:hover {
      text-decoration: underline;
      transition: all 0.2s;
    }
  }
}
