@import "../../sass/abstracts/mixins";

.grid {
  @include posts_grid;
  grid-template-columns: repeat(2, 40rem);

  @include device(tabletM) {
    grid-template-columns: repeat(2, 35.5rem);
  }

  @include device(tablet) {
    grid-template-columns: repeat(2, 32rem);
  }

  @include device(tabletS) {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
}
