@import "../../sass/abstracts/mixins";

.grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 46.5rem);
  align-items: start;
  gap: 5rem;

  @include device(laptop) {
    grid-template-columns: repeat(2, 40rem);
    gap: 3rem;
  }
}
