@mixin device($type) {
  @if $type == laptop {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }

  @if $type == tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $type == mobile {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }
}

@mixin button-primary {
  cursor: pointer;
  height: 4rem;

  background-color: transparent;
  color: colors.$off_white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem 1rem;

  border: 2px solid colors.$off_white;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: colors.$off_white;
    color: colors.$off_black;
    transition: all 0.2s;
  }

  @include device(tablet) {
    height: 3rem;
    padding: 0;
  }
}

@mixin card-post {
  width: 43.2rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .thumbnail {
    position: relative;
    width: 100%;
    height: 24.3rem;
  }

  .body {
    flex: 1;

    .title {
      @include title-h2;
      margin: 1rem 0 5rem;
    }
  }

  .footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      @include link-small-underline;
    }

    .external {
      @include link-small;
    }

    .category {
      @include link-xsmall;
      color: colors.$label;
    }
  }

  @include device(laptop) {
    width: 40rem;

    .thumbnail {
      height: 22.5rem;
    }
  }

  @include device(tablet) {
    width: 32rem;

    .thumbnail {
      height: 18rem;
    }
  }
}

@mixin card-work {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  .body {
    flex: 1;

    h2 {
      @include title-h2;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 3rem;
    }
  }

  a {
    @include link-small;
  }
}

@mixin card-gear {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;

  .thumbnail {
    width: 100%;
    height: 25rem;
    position: relative;
  }

  .details {
    h2 {
      @include title-h2;
      margin-bottom: 1rem;
    }
  }

  @include device(tablet) {
    .thumbnail {
      height: 20rem;
    }
  }
}

@mixin posts_grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-items: start;
  gap: 5rem;

  @include device(laptop) {
    gap: 3rem;
  }
}

@mixin frame {
  width: 100%;
  height: 67rem;

  @include device(laptop) {
    height: 54.23rem;
  }

  @include device(tablet) {
    height: 39.83rem;
  }
}
