@use "../../../sass/abstracts/colors";
@import "../../../sass/abstracts/mixins";

.container {
  position: sticky;
  top: 0;
  z-index: 999;

  width: 100vw;
  padding: 1.5rem 1.6rem;
  background-color: colors.$background;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;

  .logo {
    @include logo;
  }

  @include device(mobile) {
    gap: 2rem;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;

  .newsletter_text {
    @include button-primary--fill;
  }

  .newsletter_icon {
    @include button-primary--fill;
    width: 2rem;
    display: none;
  }

  @include device(tablet) {
    .newsletter_text {
      padding: 0 0.5rem;
    }
  }

  @include device(mobile) {
    .newsletter_text {
      display: none;
    }

    .newsletter_icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
