@import "../../../sass/abstracts/mixins";

.container {
  width: 100%;
  padding: 2.5rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;

  .logo {
    width: 5rem;
    height: 5rem;
  }

  @include device(desktop) {
    .logo {
      width: 4rem;
      height: 4rem;
    }
  }

  @include device(tablet) {
    .logo {
      width: 3rem;
      height: 3rem;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
