.container {
  width: 100%;
  padding: 2.5rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
