@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes smooth_down {
  from {
    transform: translateY(-112px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes smooth_up {
  from {
    transform: translateY(112px);
  }
  to {
    transform: translateY(0);
  }
}
