@use "../../sass/abstracts/colors";
@use "../../sass/animations/animations";
@import "../../sass/abstracts/mixins";
@import "../../sass/base/typography";

.container {
  position: relative;
  width: 100%;
  padding: 10rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;

  @include device(tablet) {
    padding: 5rem 0;
  }
}

.content {
  max-width: 91.4rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.category {
  width: 100%;
  flex: 1;

  animation-name: fadeIn;
  animation-duration: 0.2s;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
      @include text-small;
      color: colors.$label;
    }

    .title {
      @include title-h1;
    }
  }

  .icon {
    font-size: 2.4rem;
    cursor: pointer;
  }

  @include device(laptop) {
    .icon {
      font-size: 1.8rem;
    }
  }
}

.posts {
  @include posts_grid;
  justify-content: center;
}

.posts_down {
  animation-name: smooth_down;
  animation-duration: 0.5s;
}

.posts_up {
  animation-name: smooth_up;
  animation-duration: 0.5s;
}

.empty {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: colors.$off_white;
  }
}
