@use "../../sass/abstracts/colors";
@import "../../sass/base/typography";

.container {
  width: 100%;
  padding: 10rem 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.posts {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.category {
  width: 100%;

  animation-name: fadeIn;
  animation-duration: 0.2s;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  p {
    @include text-small;
    color: colors.$label;
  }

  .title {
    @include title-h1;
  }
}

@keyframes smooth-down {
  from {
    transform: translateY(-112px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes smooth-up {
  from {
    transform: translateY(112px);
  }
  to {
    transform: translateY(0);
  }
}

.grid_down {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 5rem;

  animation-name: smooth-down;
  animation-duration: 0.5s;
}

.grid_up {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 5rem;

  animation-name: smooth-up;
  animation-duration: 0.5s;
}

.nav {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 5rem;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;

  .title {
    @include title-h3(colors.$label);
  }

  .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    .item {
      @include text-small;
      color: colors.$label;
      cursor: pointer;
    }

    .active {
      @include text-small;
      color: colors.$title;
      cursor: pointer;

      text-decoration: underline;
    }
  }
}
