@use "../../sass/abstracts/colors";
@use "../../sass/animations/animations";
@import "../../sass/abstracts/mixins";
@import "../../sass/base/typography";

.container {
  position: relative;
  width: 100%;
  padding: 15rem 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;

  @include device(laptopM) {
    padding-bottom: 10rem;
  }

  @include device(tablet) {
    padding-top: 10rem;
  }
}

.bodyGrid {
  width: 91.4rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;

  @include device(laptop) {
    width: 82.5rem;
  }

  @include device(tabletM) {
    width: 73.5rem;
  }

  @include device(tablet) {
    width: 66.5rem;
  }

  @include device(mobile) {
    width: 100%;
  }
}

.bodyFlex {
  width: 91.4rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;

  @include device(laptop) {
    width: 100%;
  }
}

.category {
  width: 100%;
  flex: 1;

  animation-name: fadeIn;
  animation-duration: 0.2s;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
      @include text-small;
      color: colors.$label;
    }

    .title {
      @include title-h1;
    }
  }

  .icon {
    font-size: 2.4rem;
    cursor: pointer;
  }

  @include device(laptop) {
    .icon {
      font-size: 1.8rem;
    }
  }
}

.posts {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.grid_down {
  animation-name: smooth_down;
  animation-duration: 0.5s;
}

.grid_up {
  animation-name: smooth_up;
  animation-duration: 0.5s;
}

.grid {
  @include posts_grid;
}

.flex {
  @include posts_flex;
}

.empty {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: colors.$off_white;
  }
}
