@use "../../../sass/abstracts/colors";
@import "../../../sass/abstracts/mixins";

.footer {
  width: 100%;
  background-color: colors.$off-white;
}

.container {
  @include content_space;
  padding-top: 10rem;
  padding-bottom: 10rem;

  color: colors.$off-black;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15rem;

  @include device(laptopM) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 10rem;
  }

  @include device(mobile) {
    padding: 5rem 2rem;
    gap: 3rem;
  }

  @include device(mobileM) {
    gap: 2rem;
  }
}

.logo {
  @include logo;
}

.top {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.bottom {
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    @include device(tablet) {
      gap: 1rem;
    }
  }

  .social_media {
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;

    @include device(tablet) {
      gap: 2rem;
    }
  }

  @include device(mobile) {
    .social_media {
      display: none;
    }
  }
}
