@use "../../../sass/abstracts/colors";
@import "../../../sass/abstracts/mixins";

.primary {
  @include button-primary;
}

.button {
  @include button-primary;
  width: 4rem;

  @include device(tablet) {
    width: 3rem;
  }

  @include device(mobile) {
    width: 2rem;
  }
}
