@use "../../../sass/abstracts/colors";
@import "../../../sass/abstracts/mixins";

.primary {
  @include button-primary;
}

.icon_regular {
  @include button-primary;
  width: 4rem;
  padding: 0;
}

.icon_small {
  @include button-primary;
  width: 3rem;
  height: 3rem;
  padding: 0;
}
